<% provide(:contact_active, 'active') %>
<div class="">
    <h1>Ubicanos</h1>
</div>

<div class="address">
  <div class="col-sm-12 col-lg-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5765130613067!2d-63.87123408468309!3d10.9953032581208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c318dd48668b061%3A0x44706c911fed8284!2sUniversidad+de+Oriente+-+Campus+de+Guatamare!5e0!3m2!1sen!2sve!4v1492832659256" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  </div>
  <div class="col-sm-12 col-lg-4">
    <h3>Venezuela</h3><p>
      Guatamare <br>
      Estado Nueva Esparta<br>
      Universidad de Oriente<br>
      Autopista Porlamar-La Asuncion, 6301, Nueva Esparta<br>
      Tlf. 0295-4006500<br>
      Contacto: <a href="https://www.linkedin.com/in/gregory-mujica-2a0400b6/" target="_blank"><b> Gregory Mujica</b> </a> <img src="https://lh4.googleusercontent.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAUAY/1YtVwgbVuJk/s0-c-k-no-ns/photo.jpg" height="18px" width="18px" alt=""><br>
      Email: gregorymujica1993@gmail.com<br><br>

  </div>
</div>
